__pycache__/
*.py[cod]
*.so
.DS_Store

.venv/
.venv-backup/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/

checkpoints/
wandb/
outputs/
tmp/
tmp_cyx/
exp/

datamil_old
storage/
assets/


third_party/

report/

openpi/