__pycache__/
*.py[cod]
*.so
.DS_Store

.venv/
.venv-backup/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
refer_dir/

checkpoints/
wandb/
outputs/
tmp/
tmp_cyx/
exp/

thirdparty/openpi/openpi/checkpoints/
thirdparty/openpi/openpi/.cache/
thirdparty/openpi/openpi/wandb/
thirdparty/openpi/openpi/tmp/
thirdparty/openpi/openpi/tmp_cyx/
thirdparty/openpi/openpi/data/libero/videos/

refer_dir/